<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasks to do today</title>
</head>
<style>
/* Basic Style */

body {
	background: #fff;
	color: #333;
	font-family: Lato, system-ui;
	background-color:#5A5A5A;
}

.container {
	display: block;
	width: 300px;
	margin: 10px auto 100px;
	background-color:cyan;
	padding:0px 10px 20px 10px;
	border-radius:10px
}

h2 {
	text-align:center;
	padding-top:20px;
	margin-bottom:0px;
}

ul {
	margin: 0px;
	padding: 0;
}

li * {
	float: left;
}

li,
h3 {
	clear: both;
	list-style: none;
}

input,
button {
	outline: 10px;
	background-color: cyan;
	border: 0px;
}

button {
    text-align: center;
	background: white;
	border: 1px solid green;
	color: black;
	font-size: 15px;
	width: 70px;
	margin: 10px 0 0;
	font-family: Lato, sans-serif;
	cursor: pointer;
    display: inline-block;
	border-radius:20px;
    margin-left: 122px;
    height: 30px
}

button:hover {
  background-color: green;
  color: white;
}


/* Heading */

h3,
label[for='new-task'] {
	color: #333;
	font-weight: 700;
	font-size: 15px;
	border-bottom: 2px solid #333;
	padding: 0px 0 10px;
	margin: 0;
	text-transform: uppercase;
}

input[type="text"] {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	height: 18px;
	padding: 10px;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 20px;
	font-family: Lato, system-ui;
	color: black;
	margin-bottom: 10px;
}

input[type="text"]:focus {
	color: #333;
}


/* New Task */

label[for='new-task'] {
	display: block;
	margin: 0 0 20px;
}

input#new-task {
	float: left;
	width: 278px;
}

p > button:hover {
	color: #0FC57C;
}


/* Task list */

li {
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

li > input[type="checkbox"] {
	margin: 0 10px;
	position: relative;
	top: 15px;
}

li > label {
	font-size: 18px;
	line-height: 40px;
	width: 237px;
	padding: 0 0 0 11px;
}

li > input[type="text"] {
	width: 226px;
}

li > .delete:hover {
	color: #CF2323;
}


/* Completed */

#completed-tasks label {
	text-decoration: line-through;
	color: #888;
}


/* Edit Task */

ul li input[type=text] {
	display: none;
}

ul li.editMode input[type=text] {
	display: block;
}

ul li.editMode label {
	display: none;
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 1px solid green;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:20px;
}

a:hover, a:active {
  background-color: green;
  color: white;
}
.update{
    width: 30px;

}
</style>
<body>
    <div class="container">
      <h2>Update Task</h2>
		<br>
		<form name="form" action="update" method="get">
        <input id="id" type="text" value=<%=id%> name="id" hidden>
            <input id="new-task" name="edit_data"  value=<%= edit_data %> type="text">
            <button type="submit">Update</button>
        </form>
  </body>
</html>
